* {
    font-family:-apple-system, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
    box-shadow: 0 0 10px black;
}

.container__lists {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;
    box-shadow: 0 0 20px gray;
    padding: 2rem;
}

.container__lists .list {
    list-style: none;
    padding: 0;
}

.container__lists .students li {
    color: skyblue;
}

.container__lists .students li::after {
    content: ' 🙎‍♂️';
}

.container__lists .meals li {
    color: orange;
}

.container__lists .meals li::after {
    content: ' 🍲';
}

.container__lists .houses li {
    color: lightcoral;
}

.container__lists .houses li::after {
    content: ' 🏠';
}

.container__lists button {
    padding: 0.5rem 1.25rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid darkgray;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.container__lists button:hover {
    transform: scale(0.95);
    transition: 0.5s;
}

.container q {
    font-size: 32px;
    text-decoration: underline;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 400px;
    margin: 4rem 0;
    border-radius: 5px;
    background-color: rgb(255, 218, 132);
}

.task-container label {
    margin: 0.5rem 0;
    font-size: 16px;
}

.task-container input {
    width: 100%;
    padding: 0.5rem;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.task-container input:focus, input:hover {
    border: none;
    box-shadow: 0 0 5px;
    outline: none;
    transition: 0.3s;
}

.task-container button {
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background: transparent;
    border: none;
    border-bottom: 5px solid darkgray;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.task-container button:hover {
    transform: scale(0.95);
    transition: 0.5s;
}
